<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <ul class="footer_nav list-reset">
          {% for item in site.data.footer.footer_menu__settings.menu__items %}
          <li class="footer_nav__item">
            <a href="{{ item.url | relative_url }}" class="footer_nav__link">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>

<!--        <div class="copyright">{{ site.data.footer.copyright_text_html }}</div>-->
        <div class="copyright">
          <p> {{ site.time | date: "%Y" }} &copy; <a href="/">Code Alpha d.o.o.</a> </p>
        </div>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://zammad.codealpha.hr/assets/chat/chat.min.js"></script>
  <script id="zammad_form_script" src="https://zammad.codealpha.hr/assets/form/form.js"></script>
  <script>
    $(function() {
      new ZammadChat({
        title: '<strong>Pričajte</strong>s nama!',
        background: '#EB6F23',
        fontSize: '12px',
        chatId: 1
      });

      $('#zammad-feedback-form').ZammadForm({
        messageTitle: 'Obrazac za povratne informacije',
        messageSubmit: 'Pošalji',
        messageThankYou: 'Hvala vam na upitu (#%s). Javit ćemo Vam se u najkraćem mogućem roku.',
        noCSS: true,
        attachmentSupport: true,
      });

      // document.addEventListener("DOMContentLoaded", function() {
      // Find the submit button in the form
      var submitButton = document.querySelector('.zammad-form .btn');

      if (submitButton) {
        // Create a wrapper div
        var wrapper = document.createElement('div');
        wrapper.className = 'submit-button-wrapper';

        // Insert the wrapper into the DOM and move the submit button into this wrapper
        submitButton.parentNode.insertBefore(wrapper, submitButton);
        wrapper.appendChild(submitButton);
      }
    });
  </script>
</footer>
<!-- end footer -->